<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/sidebar-nav.min.css" rel="stylesheet" />
    <link href="~/Content/Css/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    @RenderSection("css", false)
    <link href="~/Content/Css/css-chart.css" rel="stylesheet" />
    <link href="~/Content/Css/animate.css" rel="stylesheet" />
    <link href="~/Content/Css/style.css" rel="stylesheet" />
    <link href="~/Content/Css/blue.css" rel="stylesheet" />
    <link href="~/Content/Css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/Css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/Css/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Content/Css/spinners.css" rel="stylesheet" />
    <style>
        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part">
                    <a class="logo" href="index.html">
                        <b>
                            <img src="~/Content/Img/eliteadmin-logo.png" />
                        </b>
                        <span class="hidden-xs">
                            <img src="~/Content/Img/eliteadmin-text.png" />
                        </span>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>

                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
                            <img src="~/Content/Img/219983.png" alt="user-img" width="36" class="img-circle">
                            <b class="hidden-xs">Ata Kanat</b>
                        </a>
                        <ul class="dropdown-menu dropdown-user animated flipInY">
                            <li><a href="#"><i class="fa fa-power-off"></i> Çıkış Yap</a></li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Left navbar-header -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                        <!-- input-group -->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li class="user-pro">
                        <a href="#" class="waves-effect"><img src="~/Content/Img/219983.png" alt="user-img" class="img-circle"> <span class="hide-menu"> Ata Kanat<span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">

                            <li><a href="javascript:void(0)"><i class="fa fa-power-off"></i>Çıkış Yap</a></li>
                        </ul>
                    </li>
                    <li class="nav-small-cap m-t-10">--- Menuler</li>
                    <li>
                        <a href="@Url.Action("Index","Istatistik")" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Istatistikler </span></a>
                        <ul class="nav nav-second-level">
                        </ul>
                    </li>
                    <li>
                        <a href="inbox.html" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Telefonlar <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">

                            <li><a href="@Url.Action("Index","Telefon")">Telefonları Listele</a></li>
                            <li><a href="@Url.Action("Ekle","Telefon")">Telefon Ekle</a></li>
                            <li><a href="@Url.Action("SatılanTelefon","Telefon")">Satılan Telefonlar</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="inbox.html" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Kategoriler <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">

                            <li><a href="@Url.Action("Index","Kategori")">Listele</a></li>
                            <li><a id="ktgEkle" href="javascript:void(0)">Ekle</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="inbox.html" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Dükkanlar <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">

                            <li><a href="@Url.Action("Index","Dukkan")">Listele</a></li>
                            @*<li><a id="dknEkle" href="javascript:void(0)">Ekle</a></li>*@
                            <li>
                                <a href="inbox.html" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Tekbir  <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="inbox.html" class="waves-effect"><span class="hide-menu">Telefonlar <span class="fa arrow"></span></span></a>
                                        <ul class="nav nav-third-level">
                                            <li><a href="@Url.Action("TekbirIndex","Dukkan")">Telefonları Listele</a></li>
                                            <li><a href="@Url.Action("TekbirEkle","Dukkan")">Telefon Ekle</a></li>
                                            <li><a href="@Url.Action("TechSatılanTelefon","Dukkan")">Satılan Telefonlar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="inbox.html" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Tech  <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="inbox.html" class="waves-effect"><span class="hide-menu">Telefonlar <span class="fa arrow"></span></span></a>
                                        <ul class="nav nav-third-level">
                                            <li><a href="@Url.Action("TechIndex","Dukkan")">Telefonları Listele</a></li>
                                            <li><a href="@Url.Action("TechEkle","Dukkan")">Telefon Ekle</a></li>
                                            <li><a href="@Url.Action("TechSatılanTelefon","Dukkan")">Satılan Telefonlar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="inbox.html" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Tk-1  <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="inbox.html" class="waves-effect"><span class="hide-menu">Telefonlar <span class="fa arrow"></span></span></a>
                                        <ul class="nav nav-third-level">
                                            <li><a href="@Url.Action("Tk1Index","Dukkan")">Telefonları Listele</a></li>
                                            <li><a href="@Url.Action("Tk1Ekle","Dukkan")">Telefon Ekle</a></li>
                                            <li><a href="@Url.Action("TechSatılanTelefon","Dukkan")">Satılan Telefonlar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="inbox.html" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Tk-2  <span class="fa arrow"></span></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="inbox.html" class="waves-effect"><span class="hide-menu">Telefonlar <span class="fa arrow"></span></span></a>
                                        <ul class="nav nav-third-level">
                                            <li><a href="@Url.Action("Tk2Index","Dukkan")">Telefonları Listele</a></li>
                                            <li><a href="@Url.Action("Tk2Ekle","Dukkan")">Telefon Ekle</a></li>
                                            <li><a href="@Url.Action("TechSatılanTelefon","Dukkan")">Satılan Telefonlar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="inbox.html" class="waves-effect"><i data-icon=")" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Esnaflar <span class="fa arrow"></span></span></a>
                        <ul class="nav nav-second-level">

                            <li><a href="@Url.Action("Index","Uye")">Esnafları Listele</a></li>
                            <li><a href="@Url.Action("Ekle","Uye")">Esnaf Ekle</a></li>

                        </ul>
                    </li>
                </ul>


                      





            </div>
        </div>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">@ViewBag.Title</h4>
                    </div>

                    <!-- /.col-lg-12 -->
                </div>
                <div class="row white-box">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->
                <footer class="footer text-center"> 2023 &copy; Developed by Sogut Emir </footer>
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->



        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/sidebar-nav.min.js"></script>
        <script src="~/Scripts/jquery.slimscroll.js"></script>
        <script src="~/Scripts/waves.js"></script>
        <script src="~/Scripts/jquery.flot.js"></script>
        <script src="~/Scripts/jquery.sparkline.min.js"></script>
        <script src="~/Scripts/jquery.easypiechart.min.js"></script>
        <script src="~/Scripts/easy-pie-chart.init.js"></script>
        <script src="~/Scripts/custom.js"></script>
        <!---<script src="~/Scripts/dashboard2.js"></script>-->
        <script src="~/Scripts/jQuery.style.switcher.js"></script>
        <script src="~/Scripts/jquery.dataTables.min.js"></script>
        <script src="~/Scripts/dataTables.buttons.min.js"></script>
        <script src="~/Scripts/pdfmake.min.js"></script>
        <script src="~/Scripts/datatables.min.js"></script>
        <script src="~/Scripts/vfs_fonts.js"></script>
        @RenderSection("script",false)
        <script src="~/Scripts/jszip.min.js"></script>
        <script src="~/Scripts/buttons.print.min.js"></script>


        <script>
            $(document).ready(function () {
                //$('#example').DataTable({
                //    dom: 'Bfrtip',
                //    buttons: [
                //        'copy', 'csv', 'excel', 'pdf', 'print'
                //    ]
                //});
            });
        </script>




        <script>
            $(document).ready(function () {
                // Setup - add a text input to each footer cell
                $('#example tfoot th').each(function () {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="Search ' + title + '" />');
                });

                // DataTable
                var table = $('#example').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ],
                    initComplete: function () {
                        // Apply the search
                        this.api()
                            .columns()
                            .every(function () {
                                var that = this;

                                $('input', this.footer()).on('keyup change clear', function () {
                                    if (that.search() !== this.value) {
                                        that.search(this.value).draw();
                                    }
                                });
                            });
                    },
                });
            });
        </script>
        <script src="~/Scripts/sweetalert2.min.js"></script>
        <script src="~/Scripts/Main.js"></script>
    </div>
</body>
</html>
