
@{
    ViewBag.Title = "Uyeler";
}
@using PhoneProg.Data.Models;
@model List<Uyeler>

<h2>Uyeler</h2>

<table id="example" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>TelNo</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Ad</td>
                <td>@item.Soyad</td>
                <td>@item.TelNo</td>
                <td><a href="@Url.Action("Guncelle", "Uye", new{uyeId = item.Id})" class="btn btn-custom">Güncelle</a></td>
                <td><button id="siluser" class="sill btn btn-danger" value="@item.Id">Sil</button></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>TelNo</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </tfoot>
</table>